# Contains All query command of SQL

" **show databases;** " for displaying how many DB in DBMS

"**create database sheryyDB;** " for creating new DataBase in DBMS

" **use sheryyDB** " for selecting the database where we want to manipulation

" **Show tables;** " for displaying the tables in DB

" **create table table_name (id int, name varchar(50), city varchar(50));** " for creating the table in DB

" **desc table_name;** " for describing the table it show the datatypes of field/atributes

" **insert into students(roll_no, name, age, city)
     values(526434,'sheryy',21,'sgd');** " for inserting the data into records

" __select *from table_name;__ " for showing the actual data

" **select name from students** " for accessing particular field from the table in DB

" **select age from students where age >20;** "Applying above command but with condition

"**alter table students add column country varchar(50);** " Adding the new column in table

" **alter table students drop country;** " Removing the column from table

" **update students set country = "Pakistan";** setting the data into new column

" **update students set country = "pakistan" where age = 21;** " setting data in particular record/row

" **update hostel set rent = "5000" where ID in (1,2,3,4);** " setting data in multiple columns with IN constarint

" **delete from students where country = "usa";** " Deleting the whole record from table

" **alter table students add email varchar(50) after age;** " Adding column into table but in specific place

" **alter table student change column age umar int;** " changing the column/field name

### Distinct function in SQL

" **select distinct country from students;** " for displaying All unique Values in table

### Constrainst in SQL
- Specify the condition for data in table based on field setting
1) not null
 - we will not have any null value 
2) Unique
 - ALl Values in column are unique
3) primary key
 - combination of Not Null and Unique 
 - uniquely identified each row in table e.g:Id,roll_no
4) foreign key
 - Uniquely Identified
5) Check 
 - Ensure that all values specify the conditions
6) Default
 - set default Value for all (eg: total score=100)
7) index
 - create and retrieve quickly from database

1) - Not Null    

" **create table country(id int not null,name varchar(50),
    -> age int,
    -> national varchar(50));** " indicating not null function where we don't want null values

" **alter table country modify age int not null;** " if you want to change into not null of existing field

2) - Unique

 " **create table country(id int unique,name varchar(50),
    -> age int,
    -> national varchar(50));** " indicating unique function where we want only unique Values

" **alter table country modify age int unique;** " if you want to change into unique an existing field

3) - Primary key

" **create table country(id int not null unique,name varchar(50), -> age int, -> national varchar(50));** " indicating unique and not null function to change the field into Primary key

also can use alter key

"**alter table country drop index age;** " removing constraint(pri,unique,etc) from the table

4) - Check

**create table student (id int not null unique,name varchar(50),age int,check (age>=18));**
    
    basically it put a conditon on your record if age is greater than 18 then you can add your info in the table otherwise it does'nt allow

5) - Default
" **create table uni(id int not null unique, name varchar(50) unique,sem int default '5',dep varchar(50) check (dep="BNB"));** " use default constraints to set the value for every record by default

6) - index
"**create index index_number on uni(id);** " create an index on specific column

### LIKE operator

" __select *from hostel where NAME like ("B%");__ " it shows us all name which start from B letter

" __select *from hostel where NAME like("Bil%");__ it shows all name where first three letter "BIL"

" **select *from hostel where NAME like("_____");"** if we unknown any letter in name we can put "underscore" and mysql enviroment provide access to unknown letter also show full name